<div class="container mt-3">
  <h1 class="text-success">Your Question:</h1>
  <p class="lead"><%= @question %></p>

  <h1 class="text-danger">Coach's Answer:</h1>
  <p class="lead"><%= @answer %></p>

  <a href="/ask" class="btn btn-primary mt-3">Ask another question</a>
</div>


